@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: hsl(0, 0%, 100%);
        --background-secondary: hsl(0, 0%, 91%);

        --foreground: hsl(223, 84%, 5%);

        --card: hsl(0, 0%, 100%);
        --card-foreground: hsl(222, 84%, 4.9%);

        --popover: hsl(0, 0%, 100%);
        --popover-foreground: hsl(222 84% 4.9%);

        --primary: hsl(0, 0%, 0%);;
        --primary-foreground: hsl(0, 0%, 100%);

        --secondary: hsl(230, 21%, 40%);
        --secondary-foreground: hsl(230, 21%, 40%);

        --muted: hsl(0, 0%, 62%);
        --muted-foreground: hsl(0, 0%, 32%);

        --accent: hsl(250, 100%, 65%);
        --accent-foreground: hsl(250, 100%, 65%);

        --destructive: hsl(0, 84%, 60%);
        --destructive-foreground: hsl(0, 63%, 24%);

        --border: hsl(0, 0%, 85%);
        --border-secondary: hsl(0, 0%, 91%);
        --border-muted: hsl(0, 0%, 62%);

        --input: hsl(214, 32%, 91%);
        --ring: hsl(223, 84%, 5%);

        --radius: 0.5rem;
    }

    .dark {
        --background: hsl(255, 58%, 7%);
        --background-secondary: hsl(0, 0%, 12%);
        --foreground: hsl(210, 40%, 98%);

        --card: hsl(222.2, 84%, 4.9%);
        --card-foreground: hsl(210, 40%, 98%);

        --popover: hsl(222, 84%, 4.9%);
        --popover-foreground: hsl(210, 40%, 98%);

        --primary: hsl(210, 40%, 98%);
        --primary-foreground: hsl(222, 47.4%, 11.2%);

        --secondary: hsl(215, 20%, 65%);
        --secondary-foreground: hsl(222, 47.4%, 20%);

        --muted: hsl(0, 0%, 62%);
        --muted-foreground: hsl(0, 0%, 32%);

        --accent: hsl(250, 100%, 65%);
        --accent-foreground: hsl(250, 100%, 65%);

        --destructive: hsl(0, 63%, 31%);
        --destructive-foreground: hsl(0, 66%, 15%);

        --border: hsl(0, 0%, 25%);
        --border-secondary: hsl(0, 0%, 31%);
        --border-muted: hsl(0, 0%, 40%);

        --input: hsl(217, 33%, 17%);
        --ring: hsl(213, 27%, 84%);
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .wrapper {
        @apply mx-auto w-full max-w-[1728px] px-2 md:px-20;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }

    .flex-between {
        @apply flex items-center justify-between;
    }
}
